<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="da">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Turistattraktioner</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>

<div class="container-sm">
    <h1>Turistattraktioner</h1>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">Navn</th>
            <th scope="col">Beskrivelse</th>
            <th scope="col">By</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="attraction: ${touristAttractions}">
            <td th:text="${attraction.name}"/>
            <td th:text="${attraction.description}"/>
            <td th:text="${attraction.city}"/>
            <td><a class="btn btn-outline-info" role="button" th:href="@{/attractions/{name}/tags(name=${attraction.name})}">Tags</a></td>
            <td><a class="btn btn-outline-info" role="button" th:href="@{/attractions/{name}/edit(name=${attraction.name})}">Rediger</a></td>
            <td><a class="btn btn-outline-danger" role="button" th:href="@{/attractions/{name}/delete(name=${attraction.name})}">Slet</a></td>
        </tr>
        </tbody>
    </table>
    <a  class="btn btn-primary" role="button" href="/attractions/add">Tilføj attraktion</a>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
